#home-page{
    background-image:url("../Assets/doctors-homepage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 182px 0 100px 0;
    
}

#home-page .home-heading{
    color: #032850;
    text-align: left;
    margin-top: 6em;
    width: 50%;
}

 .home-heading h1{
    font-size: 42px;
    padding: 30px 0 0;
}
.home-heading h3{
    font-size: 30px;
    font-weight:bold;
}
.home-heading p{
    font-size: 18px;
}

form{
    background-color: #f0e7e7;
    padding: 15px;
    border-radius: 10px;
}

.vision{
    background-color: #f8f9fa;
    padding: 3em 0;
}
